.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

.wrapper{
  max-width: 70rem;
  background-color: red;
}

#logo{
  width: 10rem;
  margin: 20px;
}







.caret_down{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: .3s;
  color:#454545;
  background-color: #e3e3e3;
}
.caret_down:hover{
  background-color: #d5d4d4;
  cursor: pointer;
}

.menu{
  position: relative;
  height: fit-content;
  padding-bottom: .3rem;
  border-radius: 1rem;
}
#list{
  background-color: #fff;
  position: absolute;
  transform: translate(-1.5rem,1.8rem);
  left: 0;
  border-radius: .3rem;
  box-shadow: 0 .3rem .6rem #00000016;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}
.menu:hover ul#list{
  transform: translate(-1.5rem,.3rem);
  opacity: 1;
  pointer-events: all;
}
#list li{
  display: flex;
  align-items: center;
  padding: .5rem;
}

#list li a{
  text-transform: capitalize;
  margin-left: .5rem;
  
}

